In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
def train():
    data = pd.read_csv('../preprocessing/houses_filtered.csv')
    
    X = data.drop(['Location','Price'], axis=1)
    y = data['Price']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    #sc = StandardScaler()

    #X_train = sc.fit_transform(X_train)
    #X_test = sc.transform(X_test)
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    #y_pred = model.predict(X_test)
    
    pickle.dump(model, open('model.pickle', 'wb'))
    print('Model saved.')

In [3]:
train()

Model saved.

In [4]:
houses = pd.read_csv('../preprocessing/houses_filtered.csv')
houses

,Location,Price,Number of bedrooms,Living area,Surface area land,Property subtype_FARMHOUSE,Property subtype_HOUSE,Property subtype_MANSION,Property subtype_MIXED_USE_BUILDING,Property subtype_VILLA,Kitchen equipped,Open fireplace,Terrace,Garden,Pool,Condition
0,Verviers,296607.0,3.0,130.0,239.0,0,1,0,0,0,0,0,1,1,0,0
1,VIANE,299000.0,5.0,200.0,1150.0,0,1,0,0,0,0,0,0,0,0,0
2,Nivelles,195000.0,3.0,135.0,165.0,0,1,0,0,0,1,0,1,0,0,1
3,Dinant,175000.0,3.0,128.0,260.0,0,1,0,0,0,1,0,1,0,0,1
4,Lierde,415000.0,3.0,207.0,534.0,0,1,0,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6883,Zaventem,488000.0,3.0,150.0,390.0,0,1,0,0,0,0,0,1,1,0,0
6884,Aalst,550000.0,4.0,1380.0,1300.0,0,0,0,0,1,1,1,1,1,0,0
6885,Charleroi Ransart,115000.0,2.0,120.0,310.0,0,1,0,0,0,1,0,0,1,0,1
6886,Sars-la-Bruyère,280000.0,3.0,120.0,839.0,0,0,0,0,1,1,0,1,1,0,0
6887,Rhode-Saint-Genèse,1650000.0,6.0,530.0,1400.0,0,0,0,0,1,1,0,1,1,1,0

In [5]:
X = houses.drop(['Location','Price'], axis=1)
y = houses['Price']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

In [7]:
"""sc = StandardScaler()


# fit_transform(X[, y]): Fit to data, then transform it.
# transform(X[, copy]): Perform standardization by centering and scaling.

# Fit to data, then transform it.

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)"""

'sc = StandardScaler()\n\n\n# fit_transform(X[, y]): Fit to data, then transform it.\n# transform(X[, copy]): Perform standardization by centering and scaling.\n\n# Fit to data, then transform it.\n\nX_train = sc.fit_transform(X_train)\nX_test = sc.transform(X_test)'

In [8]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [9]:
print(regressor.score(X_train, y_train))

0.4042037575237696

In [10]:
y_pred = regressor.predict(X_test)

In [11]:
regressor.score(X_test,y_test)

0.4213578821465679

In [14]:
import pickle

data = np.array([4,150,300,0,1,0,0,0,1,1,1,1,0,0])
data = data.reshape(1,-1)

model = pickle.load(open('model.pickle', 'rb'))
print(model.predict(data))

[423254.19154041]